name: Build RBXM & Test

on:
  push:
    paths:
      - 'builder/**'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/build-rbxm.yml'

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    # the binary runs tests using Luau execution sessions
    # this doesn't have much output otherwise
    - name: Build RBXM & Test
      run: cargo run --release
      env: 
        ROBLOX_API_KEY: ${{ secrets.ROBLOX_API_KEY }}

    - uses: actions/upload-artifact@v6
      with:
        name: Sandboxer.rbxm
        path: Sandboxer.rbxm

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - uses: actions/download-artifact@v7
      with:
        name: Sandboxer.rbxm
        path: .

    - uses: mikepenz/release-changelog-builder-action@v5
      id: changelog
      with:
        mode: HYBRID
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ steps.changelog.outputs.changelog }}
        files: Sandboxer.rbxm
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
